# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist
dist-ssr
*.local
node_modules/@mui

# Ignore build output
bin/
obj/
LibraryWebAPI/bin/
LibraryWebAPI/obj/

# Node modules
node_modules/
libraryApp/node_modules/

# Ignore all node_modules folders recursively
**/node_modules/


# Ignore VS files
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore build output
bin/
obj/

# Others
.env
